@font-face {
    font-family: 'NaN Holo Condensed';
    src: url('fonts/NaNHoloCondensed-Medium.eot');
    src: url('fonts/NaNHoloCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/NaNHoloCondensed-Medium.woff2') format('woff2'),
        url('fonts/NaNHoloCondensed-Medium.woff') format('woff'),
        url('fonts/NaNHoloCondensed-Medium.svg#NaNHoloCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'iCiel Panton';
    src: url('fonts/iCielPanton-Black.eot');
    src: url('fonts/iCielPanton-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/iCielPanton-Black.woff2') format('woff2'),
        url('fonts/iCielPanton-Black.woff') format('woff'),
        url('fonts/iCielPanton-Black.svg#iCielPanton-Black') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'iciel_pantonblack';
    src: url('fonts/ici-2/icielpanton-black.woff2') format('woff2'),
         url('fonts/ici-2/icielpanton-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
